<h1>NASA's Astronomy Picture of the Day</h1>
<em><h4>Date: <%= nasa['date'] %></h4></em>
<br>

<h3><%= nasa['title'] %> </h3>
<img src="<%= nasa['hdurl'] %>" height='400' width='600'>

<br>
<em>
    <%= nasa['explanation'] %>
</em>