<h1>LOGIN
    <p><em>To View NASA's Picture of the Day</em></p>
</h1>
<form method='POST' action='/login'>

    <input type="text" name='username' placeholder='name'>
    <input type="password" name='password' placeholder='password'>
    <button>Submit</button>
</form>
<!-- This is login page-->